.sign {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius:  5px;
    padding: 5px;
    background-color: #F8F9FA;
    margin-bottom: 5px;
    margin: 5px;



    .signid {
        align-items: center;
        display: flex;
    }
    .signpw {}
    .sighbutton {}
}
